body {
    font-family: Helvetica;
    color: #404040;
}

#leftColumn {
    margin-left: 15%;
    background-color: #FFC33F;
    width: 17%;
    float: left;
    height: 100rem;
}
#portrait {
    max-height: 200px;
    max-width: 200px;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 15%;
    padding-bottom: 5%;
    object-fit: fill
}
#contactTitle {
    text-align: center;
    background-color: #404040;
    color: #FFC33F;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
#aboutTitle {
    text-align: center;
    background-color: #404040;
    color: #FFC33F;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
#hobbyTitle {
    text-align: center;
    background-color: #404040;
    color: #FFC33F;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.contactInformation{
    color: #404040;
    margin-bottom: 0rem;
    margin-top: 0rem;
    margin-left: 2rem;
    font-weight: 500;
    overflow-wrap: break-word;
}
#about{
    color: #404040;
    margin-bottom: 0rem;
    font-weight: 400;
}
#aboutContent {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 20rem;
}
#iconRead {
    margin-left: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#iconMusic {
    margin-left: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#rightColumn {
    width: 50%;
    float: right;
    margin-left: 3%;
    margin-right: 15%;
}
h1 {
    font-size: 4rem;
    font-weight: 500;
    margin-left: 9%;
    margin-top: 15%;
    margin-bottom: 0;
}
#title {
    margin-left: 2.9rem;
}
#titleSpan {
    color: #FFC33F;
}
#subtitle {
    margin-left: 3.1rem;
    margin-top: 0;
    margin-bottom: 0;
}
#titleLine {
    display: block;
    margin-top: 0;
    color : #FFC33F;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 11rem;
    border: solid;
    border-width: 0.075rem;
    width: 4.5rem;
}
#iconHat {
    float: left;
    color : #FFC33F;
    margin-left: 5%;
}
#iconBriefCase {
    float: left;
    color : #FFC33F;
    margin-left: 5%;
}
#iconPen {
    float: left;
    color : #FFC33F;
    margin-left: 5%;
}

.sectionTitle {
    font-size: 2rem;
    font-weight: 100;
    margin-left: 15%;
    margin-bottom: 1rem;
    margin-top: 1rem;

}

.subtitlesLines {
    display: block;
    margin-top: 0;
    color : #FFC33F;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3rem;
    border: solid;
    border-width: 0.1rem;
}


.professionalExperienceDiv {
    margin-top: 3rem;
}

.sectionContainer {
    display: flex;
    margin-left: 5%;
    margin-bottom: 5%;
}

.leftInnerContainer {
    flex: 40%;

}

.rightInnerContainer  {
    flex: 60%;
}

.leftCell {
    width: 25%;
    vertical-align: top;
    padding-top: 1rem;
}
.rightCell {
    width: 75%;
    vertical-align: top;
    padding-right:  3%;
}

.fb-like {
    margin-bottom: 2rem;
    margin-left: 0%;
}
.bulletCircled {
    color: #FFC33F;
    font-size: 1.5rem;
}

#recommendationCellLeft {
    width: 75%;
    margin : 0%;
}
#recommendationCellRight {
    width: 75%;
    margin : 0%;
}


@media screen and (max-width: 1024px) {
    #portrait {
        max-height: 75px;
        max-width: 75px;
    }

}

@media screen and (max-width: 320px) {
    #portrait {
        max-height: 35px;
        max-width: 35px;
    }
    #leftColumn {
        margin-left: 0;
        width: 25%;
    }
    #contactTitle {
        font-size: x-small;
    }
    .contactInformation {
        font-size: xx-small;
        margin-left: 0.5rem;
    }
    #aboutTitle {
        font-size: xx-small;
    }
    #aboutContent {
        font-size: xx-small;
        margin-left: 5%;
    }
}
